.Cards {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

@media only screen and (max-width: 1200px) {
    .Cards {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .Cards {
        align-items: center;
    }
}
