.RightSide {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1200px) {
    .RightSide {
        margin-top: 3rem;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 768px) {
    .RightSide {
        align-items: center;
    }

    .RightSide > div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}